@import "../../styles/mixins";
@import "../../styles/variables";

.cover-slide-parent {
  position: relative;
  border-radius: 15px;
  height: 200px;


  &:hover  {
    // box-shadow: $primary 0 0 10px 3px;
  }

  @include media-breakpoint-up(md) {
    height: 300px;
  }

  @include media-breakpoint-up(lg) {
    height: 350px;
  }

  @include media-breakpoint-up(xl) {
    height: 400px;
  }

  .cover-slide-image {
    object-fit: cover;
    border-radius: 15px;
    height: 100%;
    padding-left: 0%;
    padding-bottom: 10%;

    @include media-breakpoint-up(md) {
      padding-left: 10%;
      padding-bottom: 0%;
    }

    @include media-breakpoint-up(lg) {
      padding-left: 20%;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 30%;
    }
  }

  .cover-text-parent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 1rem;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    @include media-breakpoint-up(md) {
      padding-right: 100px;
      width: 60%;
    }
  }

  .movie-title {
    font-weight: 500;
    color: #fff;
    font-size: 20px;

    @include media-breakpoint-up(lg) {
      font-size: 25px;
      font-weight: 500;
    }
    @include media-breakpoint-up(xl) {
      font-size: 30px;
    }
  }

  .movie-overview {
    color: #fff;
    opacity: 0.7;
    padding-top: 10px;
    -webkit-line-clamp: 5;
    overflow: hidden;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow-wrap: break-word;
    font-size: 10px;

    @include media-breakpoint-up(md) {
      font-size: 14px;
      width: 60%;
    }

    @include media-breakpoint-up(lg) {
      font-size: 16px;
    }
    @include media-breakpoint-up(xl) {
      font-size: 18px;
    }
  }
}

.slick-slide {
  margin: 15px 0px;
}
