@import "../../styles/variables";
@import "../../styles/mixins";
.filter-container {
  min-height: 80vh;

  .auto-complete-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
  }

  .Select-control {
    height: 40px;

    .Select-placeholder {
      line-height: 40px;
    }

    .Select-value {
      line-height: 40px !important;

      .Select-value-label {
        line-height: 40px;
      }
    }

    .Select-input {
      height: 40px;
    }
  }

  .cast-select {
    margin-bottom: 7px;

    @include media-breakpoint-up(md) {
      padding-left: 15px;
      padding-right: 7px;
    }
  }

  .crew-select {
    margin-bottom: 7px;

    @include media-breakpoint-up(md) {
      padding-right: 15px;
      padding-left: 7px;
    }
  }

  .sort-select {
    padding-right: 7px;

    @include media-breakpoint-up(md) {
      padding-left: 15px;
      padding-right: 7px;
    }
  }

  .tag-select {
    padding-left: 7px;

    @include media-breakpoint-up(md) {
      padding-left: 7px;
      padding-right: 15px;
    }
  }

  .multi-select {
    div {
      // height: 65px;
      &:first-child {
        line-height: 45px;
        // height: auto;
      }
      &:nth-child(2) {
        line-height: 45px;
        // height: auto;
      }
    }
  }
}
