@import "../../styles/variables";
@import "../../styles/mixins";

.movie-person-row-container {

a:hover {
  color: white;
  text-decoration: none;
}

  .slick-next {
    height:  calc(100% - 2rem);
    width: 50px;
    right: 0%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ) !important;
    position: absolute;
    z-index: 500;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: pxToRem(50px);
    color: transparent;
    color: white;
  }

  .slick-next:before {
    content: '〉';
    margin-right: -40px;
}
.slick-prev:before {
  content: '〈';
  margin-left: -40px;
}


  .slick-prev {
    width: 50px;
    height:  calc(100% - 2rem);
    left: 0%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ) !important;
    position: absolute;
    z-index: 500;
  }

  .movie-person-row {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;

    

    
  }

  .job-title {
    opacity: 0.8;
  }
}