@import "../../styles/mixins";
.slides {
  position: relative;
  .slick-arrow {
    position: absolute;
    top: 50%;
    width: 20px;
    z-index: 100;
    width: 30px;
    height: 100%;

    @include media-breakpoint-up(md) {
      width: 30px;
    }

    @include media-breakpoint-up(lg) {
      width: 40px;
    }

    @include media-breakpoint-up(xl) {
      width: 50px;
    }
  }
  .slick-list {
    height: auto !important;
  }
  .slick-slide {
    // margin: 7px 0px;

    @include media-breakpoint-up(md) {
      margin: 15px 0px;
    }
  }
  
  .slick-prev:before,
  .slick-next:before {
    font-size: 50px;
    color: transparent;
    color: white;
  }

  .slick-next:before {
    content: '〉';
    margin-right: -40px;
}
.slick-prev:before {
  content: '〈';
  margin-left: -40px;
}

  .slick-prev {
    left: 0%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0)
    ) !important;
    &:hover {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8),
        rgba(0, 0, 0, 0)
      ) !important;
    }
  }
  .slick-next {
    right: 0%;
    background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.8)
    ) !important;
    &:hover {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.8)
      ) !important;
    }
  }
}
