@import "./styles/variables";
@import "./styles/mixins";
@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // -webkit-touch-callout: none;

  .logo {
    background-image: linear-gradient(90deg, #b31217, #e52d27);
    border-radius: 10%;
    color: white;
    font-family: "Bigshot One", cursive;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .row-margin-right-left {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .cursor-pointer {
    cursor: pointer;
    user-select: none;
  }

  .tag {
    height: auto;
    width: auto;
    display: inline-table;
    font-size: 0.9em;
    background-color: $primary;
    color: #fff;
    font-weight: 500;
    padding: 5px 10px 5px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 12px;
    white-space: nowrap;
  }

  .h-w-100 {
    min-height: 90vh;
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 0;
    line-height: 1;
  }

  h1 {
    font-size: pxToRem(30px);
  }

  .error-container {
    h1 {
      font-size: pxToRem(100px);

      @include media-breakpoint-up(md) {
        font-size: pxToRem(150px);
      }
    }
  }

  .col-poster {
    padding: 0 1rem;
    flex: 0 0 45%;
    max-width: 45%;

    @include media-breakpoint-up(md) {
      flex: 0 0 31%;
      max-width: 31%;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 25% !important;
      max-width: 25% !important;
    }
    // padding-left: 0px;
  }

  .col-poster-3 {
    padding: 0 1rem;
    flex: 0 0 45%;
    max-width: 45%;

    @include media-breakpoint-up(md) {
      flex: 0 0 31%;
      max-width: 31%;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 33.3333333%;
      max-width: 33.3333333%;
    }
  }

  .border-radius {
    border-radius: 0.75rem;
  }

  .min-height {
    min-height: 80vh;
  }

  // The default font size for html is 16px
  $base-size: 16;
  //Function to convert px value into rem
  //You can replace rem with any other value you want (rem is most preferred value for web)
  @function pxToRem($target, $context: $base-size) {
    @return ($target / $context) * 1em;
  }
}
